@import "./../../../vars";
#mainContainer {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;

    align-items: center;

    #searchBars {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;

        app-search-bar {
            margin-top: 100px;
            margin-left: 50px;
            margin-right: 50px;
        }
    }

    #relicButton {
        width: 100%;

        ul {
            font-family: 'Lato', sans-serif;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            margin: auto;
            display: flex;
            list-style: none;
            justify-content: center;

            li {
                color: white;
                align-content: center;
                justify-content: center;
                display: flex;
                height: 40px;
                width: 85px;
                background-color: #071013;

                .button {
                    margin: auto;
                }

                &:hover {
                    background-color: #4c7eda;
                    cursor: pointer;
                }

            }

            .selected {
                background-color: #1b2e3c;
                box-shadow: 4px 4px #071013;
            }

        }

    }
}


