<div id="mainContainer">
    <div>
        <div id="relicButton">
            <ul>
                <li (click)="selected.next(tier.None)" [class.selected]="selected.getValue() === tier.None">
                    <div class="button">None</div>
                </li>
                <li (click)="selected.next(tier.Lith)" [class.selected]="selected.getValue() === tier.Lith">
                    <div class="button">Lith</div>
                </li>
                <li (click)="selected.next(tier.Meso)" [class.selected]="selected.getValue() === tier.Meso">
                    <div class="button">Meso</div>
                </li>
                <li (click)="selected.next(tier.Neo)" [class.selected]="selected.getValue() === tier.Neo">
                    <div class="button">Neo</div>
                </li>
                <li (click)="selected.next(tier.Axi)" [class.selected]="selected.getValue() === tier.Axi">
                    <div class="button">Axi</div>
                </li>
                <li (click)="selected.next(tier.Requiem)" [class.selected]="selected.getValue() === tier.Requiem">
                    <div class="button">Requiem</div>
                </li>
            </ul>
        </div>
        <div id="searchBars">
            <app-search-bar [selectedTier]="selected"></app-search-bar>
            <app-search-bar [selectedTier]="selected"></app-search-bar>
            <app-search-bar [selectedTier]="selected"></app-search-bar>
            <app-search-bar [selectedTier]="selected"></app-search-bar>
        </div>
    </div>
</div>
